.component {
  display: grid;
  grid-template-columns:
    auto /*symbol*/
    auto /*logotype*/
    auto /*Documentation*/
    auto /*APIs*/
    auto /*Pricing*/
    auto /*Terms of Service*/
    auto /*Log in*/
    1fr; /*space*/
  column-gap: 10px;
  align-items: center;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;

  color: white;
  background-color: black;
}
