.component {
  display: grid;
  align-items: center;

  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "inner";

  > .text {
    grid-area: inner;
  }

  > .line {
    grid-area: inner;
    align-self: stretch;
    border-bottom: 4px solid white;
  }
}
