.component {
  display: grid;
  grid-template-columns:
    auto /*logo*/
    auto /*Documentation*/
    auto /*APIs*/
    auto /*Pricing*/
    auto /*Terms of Service*/
    1fr /*search input*/
    auto /*Log in*/;

  column-gap: 20px;
  align-items: stretch;

  > .link {
    display: grid;
    align-items: center;
  }

  padding-left: 30px;
  padding-right: 30px;

  color: white;
  background-color: black;
}

.component.search {
  grid-template-columns:
    auto /*logo*/
    1fr /*search input*/
    auto /*Log in*/;
}

.login {
  align-self: center;

  background-color: white;
  color: black;

  font-weight: 500;

  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 20px;
  padding-right: 20px;
}
