.component {
  display: grid;
  grid-template-columns:
    auto /*logo*/
    auto /*Documentation*/
    auto /*APIs*/
    auto /*Pricing*/
    auto /*Terms of Service*/
    auto /*Log in*/;

  column-gap: 20px;
  align-items: stretch;

  > .link {
    display: grid;
    align-items: center;
  }

  padding-left: 30px;
  padding-right: 30px;

  color: white;
  background-color: black;
}
