.component {
  display: grid;
  grid-template-columns:
    auto /*logo*/
    1fr /*links*/
    auto /*Log in*/;
  grid-template-rows:
    auto /*search*/
    auto /*logo links login*/;
  grid-template-areas:
    ".    search ."
    "logo links  login";

  column-gap: 20px;
  align-items: stretch;

  padding-top: 8px;
  padding-left: 30px;
  padding-right: 30px;

  color: white;
  background-color: black;
}

.searchbox {
  grid-area: search;
  justify-self: center;

  display: grid;
  grid-template-columns: auto /*icon*/ 1fr /*input*/;
  column-gap: 4px;
  > .input {
    padding: 0px;
    border-style: none;
    outline-style: none;
    /* trick to prevent icon disappear */
    min-width: 1rem;
  }

  background-color: white;
}

.links {
  grid-area: links;

  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  column-gap: 20px;
}

.link {
  display: grid;
  align-items: center;
}

.login {
  grid-area: login;

  align-self: center;

  background-color: white;
  color: black;

  font-weight: 500;

  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 20px;
  padding-right: 20px;
}
