.component {
  grid-area: logo;
}

.logo {
  display: flex;
  column-gap: 10px;
  align-items: center;

  padding-top: 8px;
  padding-bottom: 8px;

  /* > selector: direct children */
  > .logotype {
    font-weight: 700;
    font-size: 1.5rem;
  }
}
